
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="page-title">
    <div class="title_left" style="width: 100%">
        <h3></h3>
    </div>
</div>
<div class="clearfix"></div>



<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <form ID="demo_form2" method="post" asp-action="ChangePassword" class="form-horizontal form-label-left">

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="txtTitle">
                            Old Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input ID="OldPassword" name="OldPassword" TextMode="Password" clientidmode="Static" class="form-control required-field"/>
                            <span class="error-span hidden " style="color:red;font-weight:bold">Enter your old password.</span>
                        </div>
                    </div>


                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="txtTitle">
                            New Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input ID="NewPassword" name="NewPassword" TextMode="Password" clientidmode="Static" class="form-control required-field"/>
                            <span class="error-span hidden " style="color:red;font-weight:bold">Enter your new password.</span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="txtTitle">
                            Confirm New Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input ID="ConfirmPassword"  name="ConfirmPassword" TextMode="Password" clientidmode="Static" class="form-control required-field"/>
                            <span class="error-span hidden " style="color:red;font-weight:bold">Confirm new password.</span>
                            <br />
                            <span class="error-span hidden " id="ConfirmPasswordMatch" style="color:red;font-weight:bold;">Confirm password must match with new password.</span>
                        </div>
                    </div>






                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">

                            <input type="submit" ID="btnChangePassword" onclick="return ValidatePassword();" style="min-width: 120px;margin-left: 0;" value="Update Password" class="btn btn-primary float-left"/>


</div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    
    <script>
        $(document).ready(function () {


            $(".required-field").change(function () {

                if (this.value != "") {
                    $(this).next("span.error-span").addClass("hidden");
                    $("#ConfirmPasswordMatch").addClass("hidden");

                }
                else {
                    $(this).next("span.error-span").removeClass("hidden");

                }
            });

            $(".required-field").keyup(function () {
                if (this.value != "") {
                    $(this).next("span.error-span").addClass("hidden");
                    $("#ConfirmPasswordMatch").addClass("hidden");
                }
                else {
                    $(this).next("span.error-span").removeClass("hidden");
                }
            });



        });

        function ValidatePassword() {
            var result = true;
            $("#ConfirmPasswordMatch").addClass("hidden");
            animateId = "";

            var OldPassword = $("#OldPassword").val();
            if (OldPassword == "") {
                $("#OldPassword").next("span.error-span").removeClass("hidden");
                result = false;
                if (animateId == "") {
                    animateId = "OldPassword";
                }

            }

            var NewPassword = $("#NewPassword").val();
            if (NewPassword == "") {
                $("#NewPassword").next("span.error-span").removeClass("hidden");

                if (animateId == "") {
                    animateId = "NewPassword";
                }
                result = false;
            }
            var ConfirmPassword = $("#ConfirmPassword").val();
            if (ConfirmPassword == "") {
                result = false;
                $("#ConfirmPassword").next("span.error-span").removeClass("hidden");
                if (animateId == "") {
                    animateId = "ConfirmPassword";
                }
            }

            if (NewPassword != ConfirmPassword) {
                result = false;
                $("#ConfirmPasswordMatch").removeClass("hidden");
                if (animateId == "") {
                    animateId = "ConfirmPasswordMatch";
                }
            }


            if (result == false) {
                //  Animate(animateId);
            }

            return result;
        }




    </script>
    
}
